
.cabezal {height:30px;
background-color: #fbeb04;}
.seccionImagenCabezal {
    height: 500px;
    background-image: url(./imagenes/cabezal_prelanzamiento.png);
    background-color: white;
}
.seccionImagenes {
    height: 500px;
    background-color: #fbeb04 ;
}

.seccionTexto {
    height: 500px;
}

.seccionNarrativa {
    height: 600px;
}

#Roadmap {
    height: 200px;
    background-color: #fbeb04;
}

footer {
    height: 300px;
    background-color: black;
}

.imagen {
    margin-left: 75px;
    height: 25%;
width: 25%;}

.imagenCarrousel {
    
    height: 300px;
width: 300px;
margin: 50px 50px 0px 50px;}

.carrousel {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}



p{margin-left: 5%;
    margin-right: 5%;
margin-top: 5%;}

.epigrafe{margin-left: 120px;}