body {background-color: #fbeb04;}
.cabezal {height:30px;
background-color: #fbeb04;}

.margen {
    margin-left: 0%;
    margin-right: 0%;
}
.seccionImagenCabezal {
    height: 500px;
    background-image: url(./imagenes/cabezal_prelanzamiento.png);
    background-color: white;
}
.seccionImagenes {
    height: 500px;
    background-color: #fbeb04 ;
}

.seccionTexto {
    height: 500px;
}

.seccionNarrativa {
    height: 600px;
}

#Roadmap {
    height: 200px;
    background-color: #fbeb04;
}

.footer {
    height: 100px;
    background-color: black;
}

.imagen {
    margin-left: 75px;
    height: 25%;
width: 25%;}

.imagenCarrousel {
    
    height: 250px;
width: 250px;
margin: 50px 50px 0px 50px;}

.carrousel {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.seccionMiembros {
    height: 400px;
    background-color: #fbeb04 ;
    display: flex;
}

.imagenMiembros {
    
    height: 175px;
width: 175px;
margin: 50px 50px 0px 50px;}
p{ text-align: justify;}

.epigrafe{margin-left: 120px;}

@keyframes deslizar {
    0%{ transform: translate(100%);}
}