body {background-color: #fbeb04;
}
.cabezal {height:30px;
background-color: #fbeb04;}

.margen {
    margin-left: 0%;
    margin-right: 0%;
}
.seccionImagenCabezal {
    height: 1030px;
    background-image: url(./imagenes/cabezal_prelanzamiento.png);
    background-color: white;
}
.seccionImagenes {
    height: 500px;
    background-color: #fbeb04 ;
}
.seccionImagenesEquipo {
    height: 830px;
    background-color: #fbeb04 ;
}
.seccionImagenesCarrousel {
    height: 1030px;
    background-color: #fbeb04 ;
}

.seccionImagenesEjemplo {
    height: 1030px;
    background-color: #fbeb04 ;
}

.seccionTexto {
    height: 1433px;
}
.seccionPreguntasRespuestas {
    height: 1200px;
}

.seccionNarrativa {
    height: 1186px;
}

#Roadmap {
    height: 506px;
    background-color: #fbeb04;
}

.footer {
    height: 244px;
    background-color: black;
}

.imagen {
    margin-left: 75px;
    height: 25%;
width: 25%;}

.imagenCarrousel {
    
    height: 250px;
width: 250px;
margin: 50px 50px 0px 50px;}

.carrousel {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.seccionMiembros {
    height: 400px;
    background-color: #fbeb04 ;
    display: flex;
}

.imagenMiembros {
    
    height: 175px;
width: 175px;
margin: 50px 50px 0px 50px;}
p{ text-align: justify;}


.epigrafe{margin-left: 120px;}
@keyframes deslizar {
    0%{ transform: translate(100%);}
}